.tried {
  border-color: var(--bs-primary-border-subtle) !important;
  background-color: var(--bs-gray-800) !important;
  border-width: 3px !important;
}

.filter-container {
   grid-template-columns: 2fr 1fr;
}

.dd {
  max-width: 50%;
}

.recipe-card {
  border-style: solid;
  border-radius: 25px;
  border-width: 2px;
  border-color: var(--bs-primary);
  height: 95%;
  overflow: auto;
  padding: 25px;
  min-height: 200px;
}

.recipe-title {
  font-size: larger;
  margin-right: 5px;
}

.recipe-ingredients {
  text-align: left;
  text-indent: 3px;
  flex: 1;
  min-width: 0;
  h6 {
    font-variant: small-caps;
  }
  ul li {
    display: none;
  }
  ul li:nth-child(1),
  ul li:nth-child(2),
  ul li:nth-child(3) {
    display: list-item;
  }
}

.recipe-method {
  text-align: left;
  flex: 1;
  min-width: 0;
  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  h6 {
    text-indent: 3px;
    font-variant: small-caps;
  }
}

.noresize {
  resize: none;
}

.resizeable {
  resize: vertical;
  overflow: scroll;
}

.form-label {
  padding: 2px;
}

.recipe-link {
  display: none;
}
/* links are hidden on recipe cards to preserve space */

.recipe-tags {
  display: inline-flex;
  flex-direction: row;
  align-items: baseline;
  h6 {
    font-variant: small-caps;
  }
}

.custom-select {
  color: var(--bs-primary-text-emphasis) !important;
}

@media screen and (min-width: 768px) {
  .grid-container-element {display: grid; 
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 100%;
    column-gap: 1rem;
    padding-right: 1rem;
   }
}

#existing-ingredients-list {
    overflow: auto;
    max-height: 20vh;
    ul {list-style-type: '- ';}
}

/* tags section; functionally they categorise recipes */
/* by meal purpose */
.breakfast {
  color: burlywood;
  padding-left: 10px;
  display: inline-block;
}
.mains {
  color: coral;
  padding-left: 10px;
  display: inline-block;
}
.salads {
  color: mediumseagreen;
  padding-left: 10px;
  display: inline-block;
}
.sides {
  color: cornflowerblue;
  padding-left: 10px;
  display: inline-block;
}
.bread {
  color: darkgoldenrod;
  padding-left: 10px;
  display: inline-block;
}
.desserts {
    color: darkorchid;
    padding-left: 10px;
    display: inline-block;
}

/* by main protein */
.chicken {
  color: goldenrod;
  padding-left: 10px;
  display: none;
}
.pork {
  color: lightpink;
  padding-left: 10px;
  display: none;
}
.beef {
  color: indianred;
  padding-left: 10px;
  display: none;
}
.tofu {
  color: antiquewhite;
  padding-left: 10px;
  display: none;
}
.meat-free {
  color: lightgreen;
  padding-left: 10px;
  display: none;
}

/* other categories - one recipe can have multiple of these */
.sriracha,
.gochugaru,
.gochujang,
.chilli-crisp,
.harissa,
.miso,
.sumac,
.sundried,
.boursin {
  display: none;
  padding-left: 10px;
}

.slow-cooker,
.air-fryer,
.rice-cooker,
.tagine {
  display: none;
  padding-left: 10px;
}

.entertaining,
.bulgarian-dishes {
  display: none;
  padding-left: 10px;
}

.row {
  margin-top: 20px;
}

.col-lg-4 {
  padding: 10px;
}

.inside-col {
  background: #aaa;
  color: #fff;
  text-align: center;
  padding: 100px 50px;
  min-height: 200px;
}