@import "~bootstrap/scss/_variables.scss";

.completed {
  text-decoration: line-through;
  color: gray;
  border: 1px solid gray;
}

.recipe-card {
  border-style: solid;
  border-radius: 25px;
  border-width: 2px;
  border-color: var(--bs-primary);
  margin: 5px;
  padding: 10px;
  height: 95%;
  overflow: auto;
}

.recipe-title {
  font-size: larger;
  margin-right: 5px;
}

.recipe-ingredients {
  text-align: left;
  text-indent: 3px;
  flex: 1;
  min-width: 0; /* or some value */
  h6 {
    font-variant: small-caps;
  }
  ul li {
    display: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  ul li:nth-child(1),
  ul li:nth-child(2),
  ul li:nth-child(3) {
    display: list-item;
  }
}

.recipe-instructions {
  text-align: left;
  flex: 1;
  min-width: 0; /* or some value */
  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  h6 {
    text-indent: 3px;
    font-variant: small-caps;
  }
}

.recipe-tags {
  h6 {
    text-align: right;
    font-variant: small-caps;
  }
  /* TODO: add once tags implemented */
}
